<!DOCTYPE html>
<html>
<head>
  <title>Worldsockets...</title>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
  <script>
      var nickname = prompt("what shall thy name be, warrior?")

      function debug(str)
      {
          $("#debug").append("<p>" + str + "</p>");
      };

      $(document).ready(function()
      {
          if (!("WebSocket" in window))
          {
              alert("We're sorry, but WebSockets are not available in this browser.");
              return;
          }

          var ws = new WebSocket("ws://zephyr-breeze.local:9000/ws");
          ws.onmessage = function(evt) {
              msg = JSON.parse(evt.data);
              console.log(msg);
              if (msg['command'] === 'chat') {
                $("#msg").append("<p>" + msg.name + ": " + msg.message + "</p>");
              } else {
                  console.log("--- got message: "+msg);
              }
          };
          ws.onclose   = function() { debug("socket closed"); };
          ws.onopen    = function() {
              debug("connected, sending 'world' command...");
              result = ws.send(JSON.stringify({
                  command:'join',
                  name: nickname}));
              console.log(result);
          };

          $('#submit').click(function()
          {
              var nick = name; //$('#nick').val();
              var msg = $('#message').val();
              ws.send(JSON.stringify({
                  command:'chat',
                  name:name,
                  message:msg}));
              return false;
          });
      });
  </script>
</head>
<body>
<form>
  <!--<label>Nick</label>-->
  <!--<input type='text' autofocus='true' id='nick' name='nick' value='anon' size='20' /><br />-->

  <label>Message</label>
  <input type='text' autofocus='true' id='message' name='message' value='' size='80' />&nbsp;
  <input type='submit' id='submit' />
</form>

<div id="debug"></div>
<div id="msg"></div>
</body>
</html>
