<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
  <!--<title>Worldsockets...</title>-->
  <!--<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>-->
  <!--<script>-->
//      var nickname = prompt("what shall thy nickname be, warrior?")
//
//      function debug(str)
//      {
//          $("#debug").append("<p>" + str + "</p>");
//      };
//
//      $(document).ready(function()
//      {
//          if (!("WebSocket" in window))
//          {
//              alert("We're sorry, but WebSockets are not available in this browser.");
//              return;
//          }
//
//
//          var ws = new WebSocket("ws://zephyr-breeze.local:9000/ws");
//          ws.onmessage = function(evt) {
//
//              $("#msg").append("<p>" + evt.data + "</p>");
//          };
//
//          ws.onclose   = function() {
//              debug("socket closed");
//          };
//
//          ws.onopen    = function() {
//              debug("connected...");
////              ws.send("hello server! (from "+nickname+")")
//
//              // maybe hardcode the game connection logic here for now
//              // oy, all this async nonsense :/
//
//          };
//
//
//          molecular.chat = function(nick,msg) {
//              ws.send({command: 'Chat', nickname: nickname, message: msg});
//          }
//
////          molecular.rooms = function() {
////              ws.send({command: 'Rooms.all'})
////          }
////
////          molecular.join = function(nick,room_id) {
////              ws.send({command: 'Rooms.join', id: room_id})
////          }
//
////          molecular.play = function(nick,game_id) {
////              ws.send({command: 'Games.join', id: game_id})
////          }
//
////          molecular.move = function(nick,new_position) {
////              ws.send({command: 'Player.move', game_id: game_id, player_id: player_id})
////          }
//
////          molecular.each_event = function(nick,game_id)
//
//
//          $('#submit').click(function()
//          {
//              var nick = nickname; //$('#nick').val();
//              var msg = $('#message').val();
//              molecular.chat(nick,msg);
////              ws.send({command: 'chat', nickname: nickname, message: msg});
//                      //nick + ": " + msg);
//              return false;
//          });
//
//
//      });
  <!--</script>-->
<!--</head>-->
<!--<body>-->
<!--<form>-->
  <!--&lt;!&ndash;<label>Nick</label>&ndash;&gt;-->
  <!--&lt;!&ndash;<input type='text' autofocus='true' id='nick' name='nick' value='anon' size='20' /><br />&ndash;&gt;-->

  <!--<label>Message</label>-->
  <!--<input type='text' autofocus='true' id='message' name='message' value='' size='80' />&nbsp;-->
  <!--<input type='submit' id='submit' />-->
<!--</form>-->

<!--<div id="debug"></div>-->
<!--<div id="msg"></div>-->
<!--</body>-->
<!--</html>-->
